body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#sobuz{
    color: rgb(255, 179, 1);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    padding-left: 6%;
    width: 50%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 400;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-section{
    padding-right: 50px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-content{
    width: 40%;
    margin-left: 4%;
    box-shadow: 10px 10px 40px gray;
    padding: 2% 2%;
    border-radius: 10px;
}
.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Junior{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(238, 175, 4), rgb(241, 128, 6));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}